main {
  section {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 1fr
     1fr;
    grid-template-areas:
      "img author"
      "img quote"
      "img button"
      ;
    #quote {
      grid-area: quote;
      font-family: "Roboto";
    }
    #author {
      grid-area: author;
      display: flex;
      flex-wrap: wrap;
      font-size: 100px;
      font-family: 'Bodoni Moda';
      display: flex;
      align-items: flex-start;
    }
    #div__image {
      grid-area: img;
      width: 630px;
      height: 630px;
      overflow: hidden;
      
      img {
       min-height: 100%;
       min-width: 100%;
      }
      
    }
    #button {
        grid-area: button;
        height: 50px;

        border: none;
        font-family: 'Roboto';

        background-color: black;
        color: white;
      }
      #button:hover {
        color: black;
        background-color: white;
        border: 1px solid grey;
        cursor: pointer;
      }
  }
}
